@import "reset.css";

/* components */
@import "/css/components/header-title.css";

/* screens */
@import "/css/screens/main-screen.css";
body {
  margin: 0px 40px;
  font-family: sans-serif;
  background-color: rgba(242, 235, 230, 0.4);
  display: flex;
}

ul,
li {
  list-style: none;
}
