@import "reset.css";

/* components */
@import "/css/components/header-title.css";

/* screens */
@import "/css/screens/main-screen.css";
body {
  min-height: 100%;
  color: #000;
  background-color: #f2ebe6;
  word-wrap: normal;
  word-break: keep-all;
  padding-left: 2.5em;
  padding-right: 2.5em;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}
