.main-banner-wrap-contatiner-inline__box {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}
.main-banner-wrap-container__inline {
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;
  transition: 700ms cubic-bezier(0.48, 0.15, 0.18, 1);
  justify-content: center;
}
.main-banner-wrap-container-inline-slide__Image {
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-banner-wrap-container-inline-slide__Image img {
  width: 99%;
  height: 100%;
}

.next-btn,
.prev-btn {
  color: white;
  padding: 16px;
  position: absolute;
  top: 50%;
  font-size: 2.6em;
  z-index: 2;
  cursor: pointer;
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
}

/* Navigation Dots */
.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  z-index: 2;
  bottom: 0;
  position: absolute;
}
.single-dot {
  background: white;
  height: 8px;
  width: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 4px;
  transition: 400ms;
}
.single-dot.active {
  background: red;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
