.header-menu {
  background-color: #fff;
  height: 10vh;
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
}
.header-menu-inline {
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1150px;
}
.header-logo-box {
  height: 80px;
  width: 12vw;
  display: flex;
  justify-content: flex-start;
}
.header-logo {
  display: flex;
  left: 0;
}
.header-logo img {
  height: 80px;
  width: 75px;
}
.header-menu-inline-title-box {
  display: flex;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.header-menu-inline-title-box__nav {
  font-size: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: context-menu;
}
.header-menu-inline-title-box > div {
  width: 200.2px;
  display: flex;
  position: absolute;
}
.header-menu-inline-subtitle__box {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
.header-menu-inline-dropdown-menu__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  height: 100%;
  border: 4px solid red;
  background-color: white;
  margin-top: 40rem;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  visibility: hidden;
  align-items: center;
  opacity: 0;
}
.header-menu-inline-dropdown-menu-inline__box {
  border: 2px solid black;
  width: 100%;
  display: flex;
}
.header-menu-inline-dropdown-menu__inline {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  border: 1px solid black;
}
.header-menu-inline-dropdown-menu__subtitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-menu-inline-title-box__nav:hover
  .header-menu-inline-dropdown-menu__box {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin-top: 32em;
  padding-bottom: 20rem;
  left: 0;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  visibility: visible;
  position: absolute;
  opacity: 1;
}

/* .header-menu-inline-title-box__nav:hover .header-menu-inline-subtitle__box {
  height: 115px;
  visibility: visible;
  display: flex;
  opacity: 1;
  background-color: white;
  height: 325px;
  width: 100%;
  left: 0;
  margin-top: 410px;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */
.header-menu-inline__menu:hover .header-menu-inline-subtitle__box {
  padding-left: 23vw;
}
.header-menu-inline__store:hover ul {
  padding-left: 36vw;
}
.header-menu-inline__event:hover ul {
  padding-left: 48.5vw;
}
.header-menu-inline__brand:hover ul {
  padding-left: 60.5vw;
}
.header-menu-inline__menu {
  width: 100%;
}
.header-menu-inline__store {
  width: 100%;
  margin-left: -70px;
}
.header-menu-inline__event {
  width: 100%;
  margin-left: -70px;
}
.header-menu-inline__brand {
  width: 100%;
  margin-left: -70px;
}
.header-menu-inline__button {
  position: relative;
}

.header-menu-inline button {
  border: 1px solid white;
  color: white;
  background-color: #e0342c;
  border-radius: 10% 0% 10% 0%;
  font-weight: bolder;
  font-size: 18px;
  width: 160px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-inline-title-box i {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  font-weight: bolder;
  margin-top: 5px;
  float: right;
}

.header-menu-inline__top-border {
  position: absolute;
  right: 67px;
  border: 1px solid #e0342c;
  border-radius: 10% 40% 0% 0%;
  background-color: #e0342c;
  height: 6px;
  width: 90px;
  top: 0px;
}
.header-menu-inline__bottom-border {
  position: absolute;
  right: 1px;
  border: 1px solid #e0342c;
  border-radius: 0% 0% 10% 40%;
  background-color: #e0342c;
  height: 6px;
  width: 90px;
  bottom: 0px;
}
.header-menu-inline-store__subtitle {
  text-align: center;
}
